body {
    background-color: #121212; /* Fondo negro para toda la pantalla */
    color: #e0e0e0; /* Texto claro para contraste en el fondo negro */
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
}

/* Estilo general para el contenedor */
.container {
    max-width: 800px; /* Ajusta el ancho máximo del contenedor según tus necesidades */
    padding: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #2c2c2c; /* Fondo oscuro para el contenedor */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

/* Estilo para los encabezados */
h1 {
    text-align: center;
    color: #e0e0e0; /* Texto claro */
    margin-bottom: 20px; /* Espacio debajo del título */
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #444;
    text-align: left;
}

th {
    background-color: #333;
}

td {
    background-color: #1e1e1e;
}

/* Estilo para los botones */
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff; /* Color para los botones */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 20px; /* Espacio inferior para separar del contenido */
}

/* Efecto hover para los botones */
button:hover {
    background-color: #0056b3;
}

/* Estilo específico para el botón de cerrar sesión */
#logoutButton {
    background-color: #dc3545; /* Color para el botón de cerrar sesión */
    margin-top: 20px; /* Espacio superior para separar del contenido */
}

#logoutButton:hover {
    background-color: #c82333; /* Efecto hover para el botón de cerrar sesión */
}

/* Estilo para el mensaje de eliminación */
#deleteResult {
    margin-top: 20px;
    color: #ff6f6f; /* Color para el mensaje de error */
}
